
.backgroundimg1 {background-image:url(https://media.yourobserver.com/img/photos/2023/01/03/423153_standard_t1100.jpeg?31a214c4405663fd4bc7e33e8c8cedcc07d61559); background-size: 100%; height: 250px; background-attachment: fixed;
}

.header1 {color: black; position: sticky; top: 30px;
}

.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 26px;
  font-size: 17px;
}

@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}

.margin {padding:50px}

.text2 {color: blue; padding: 7px;}

.container {display: flex; flex-direction: colum;background-color: gray;padding: 50px; width: 170px; height: 630px; 
}

.button-primary {
  padding: 2%; 
  background-color: blue;
  color: white;
  font-size:25px;
  text-postion: center;
  margin: 3px;
}

a:hover {
  background-color: black;}

.secondpart {display: flex; flex-direction: row;}

.lambo {width: 495px; margin-left: 130px; padding: 10px; text-align; center;}

.center {text-align: center; padding: 0px;}

.camero {width: 500px; float: right; text-align: center; padding: 0px;}

.button-primary2 {
  padding: 1%; 
  background-color: blue;
  color: white;
  font-size:25px;
  text-postion: center;
  margin: 3px;
}

a:hover {
  background-color: black;}

@media screen and (max-width: 480px) {.container {display: flex; flex-direction: column;background-color: gray;padding: 50px; width: 170px; height: 400px; 
}
.secondpart {display: flex; flex-direction: column; padding-top: 20px;}

.lambo {width: 250px; margin-left: 0px; padding: 40px; flex-direction: column; }
  
  .center {text-align: center; }

.camero {width: 250px; float: right; text-align: center; flex-direction: column;}
}

}

.backgroundimg1 {background-image:url(https://media.yourobserver.com/img/photos/2023/01/03/423153_standard_t1100.jpeg?31a214c4405663fd4bc7e33e8c8cedcc07d61559); background-size: 100%; height: 250px; background-attachment: fixed;
}

.header1 {color: black; position: sticky; top: 30px;
}

.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 26px;
  font-size: 17px;
}

@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}

.lambo {width: 600px; }

.container3 {display: flex; flex-direction: row; padding: 50px; margin: 10px; justify-content: space-between;
}

.information {width: 600px; text-align: center;}

.container4 {display: flex; flex-direction: colum;background-color: #B6B5B5;padding: 70px; width: 170px; height: 400px; justify-content: colum;
}

.moreinfo {text-align: right; }

.finalinformation {text-align: center; color: #0CAF8C ;}



@media screen and (max-width: 480px) {.lambo {width: 600px; }

  .lambo {width: 300px; }
  
.container3 {display: flex; flex-direction: column; padding: 50px; margin: 10px; justify-content: space-between;
}

.information {width: 600px; text-align: center;}

.container4 {display: flex; flex-direction: column;background-color: #B6B5B5;padding: 0px; width: 350px; height: 200px; justify-content: colum;
}

.moreinfo {text-align: right; }

.finalinformation {text-align: center; color: #0CAF8C ;}
}
}


.backgroundimg1 {background-image:url(https://media.yourobserver.com/img/photos/2023/01/03/423153_standard_t1100.jpeg?31a214c4405663fd4bc7e33e8c8cedcc07d61559); background-size: 100%; height: 250px; background-attachment: fixed;
}

.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 26px;
  font-size: 17px;
}

@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}

.contanier5 {display: flex; flex-direction: row;background-color: #B6B5B5;padding: 70px; height: 200px; text-align: center;}

.aboutus {text-align: center;}

.trauk {width: 500px; padding: 10px;}

.orangecar {width: 570px; padding: 10px;}

.blueoldcar {width: 630px; padding: 10px;}

.oldoldcar {width: 660px; padding: 10px;}


@media screen and (max-width: 480px) {.contanier5 {display: flex; flex-direction: column;background-color: #B6B5B5;padding: 70px; height: 500px; text-align: center;}

.aboutus {text-align: center;}

.trauk {width: 350px; padding: 10px;}

.orangecar {width: 370px; padding: 10px;}

.blueoldcar {width: 350px; padding: 10px;}

.oldoldcar {width: 360px; padding: 10px;}
}
}
